 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Slabo+27px&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Open+Sans&family=Slabo+27px&display=swap');
 *{
    padding: 0px;
    margin: 0px;
}
#body{
    background-color: #E6DDD5;
}
#navbar{
    height: 5vh;
    background-color: #D8BF9F;
    padding: 7px;
}
#navbar a{
    float: right;
    text-decoration: none;
    border-radius: 5px;
    padding: 1vh;
    margin-right: 2vh;
    float: left;  
    color: #493423;
    font-family: 'Open Sans', sans-serif;
}
#links a{
    float: right;
    text-decoration: none;
    border-radius: 5px;
    padding: 1vh;
    margin-right: 2vh;
    float: right;
    color: black;
}
#navbar div{
    display: inline;
}
#Header{
    background-image: url(STAT\ PROJECT.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
#homepara{
    display: block;
}
#homepara h3{
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 180px;
    margin-right: 170px;
    color: #493423;
    font-family: 'Open Sans', sans-serif;
}
#homepara a{
    padding: 7px;
    background-color:#D2A87D ;
    color: white;
    margin-left: 170px;
    text-decoration: none;
}
#footer{

    height: 5vh;
    background-color: #D8BF9F;
    padding: 7px;
    height: 5vh;
    background-size: 100%;
}
#socials img{
    display: inline;
    float: right;
    width: 35px;
}
#pageT{
    margin: 20px;
}
#INT{
    display: flex;
}
#INTimg{
    margin: 10px;
}
.INTpara h4{
    color: #493423;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}
#INTimg img{
    width: 370px;
}
.data{
    margin-left: 10px;
    margin: 5px;
    padding: 30px;
}
.qualiData img{
    margin: 10px;
    padding: 10px;
    width: 550px;
}
.quantyData1 img{
    margin: 10px;
    padding: 10px;
    width: 550px;
}
.quantyData2 img{
    margin: 10px;
    padding: 10px;
    width: 550px;
}
#p2 a{
    padding: 7px;
    background-color:#D2A87D ;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
#p3 a{
    padding: 7px;
    background-color:#D2A87D ;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
#p4 a{
    
    padding: 7px;
    float: right;
    background-color:#D2A87D ;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}
.container{
    display: flex;
}
#conclusion{
    margin: 10px;
    font-family: 'Inria Serif', serif;
}
.conc img{
    width: 650px;
}
#pics{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    margin: 30px;
}
.groupmates img{
    width: 350px;
    margin-left: 30px;
}




